
/* @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url("./images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    height:  644px ;
    position: relative;
}
.main .box{
    height: 644px;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 80vw;
    height: 100px;
    
}
nav img{
    width: 148px;
    /* color: red; */
    z-index: 10;
    position: relative;
}
nav .buttons{
    z-index: 10;
    position: relative;
    display: flex;
    gap: 10px;
    
}
.hero{
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    padding: 0 30px;
    
}
.hero> :first-child{
    font-size: 48px;
    font-weight: 900;
    text-align: center;

}
.hero> :nth-child(2){
    font-weight: 650;
    font-size: 20px;
    text-align: center;
    
}
.hero> :nth-child(3){
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}
.separation{
    height: 7px;
    background-color: rgb(46,44,44);
    position: relative;
    z-index: 20;
}
.btn{
    padding:  4px 35px;
    /* padding: 15px 50px 15px 25px; */
    text-align: center;
    font-size: 14px;
    background-color: rgba(248, 243, 243, 0.021);
    font-weight: 600;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}
.btn-red-sm{
    background-color: red;
    color: white;
    border: none;
    padding:  7px 20px;
    
}
.btn-red{
    background-color: red;
    color: white;
    padding: 15px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    
}
.main input{
    padding: 15px 101px 20px 24px;
    font-size: 17px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5) ;
    color: white;
    
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
}
@media screen and (max-width: 1300px) {
    .first{
        flex-wrap: wrap;
    }
}
.secImg{
    position: relative;
}
.secImg img{
    width: 567px;
    position: relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    top: 51px;
    right: 0;
    width: 567px;
}
section.first > div{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    padding: 34px 0;
    
}
section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}
section.first > div :nth-child(2){
    font-size: 24px;
}

section.second > div :nth-child(1){
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}
section.second > div :nth-child(2){
    font-size: 20px;
}
.faq{
    background: black;
    color: white;
    padding: 34px;
   
}
.faq h2{
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
}
.faqBox:hover {
    background-color: #414141;
    color: white;
}
.faqBox{
    transition: all 1s ease-out;
    display: flex;
    justify-content: space-between;
    /* background-color: gray; */
    padding: 20px;
    max-width: 70vw;
    margin: 8px auto;
    background-color: rgba(246, 238, 238, 0.199);
    cursor: pointer;
    align-items: center;
    font-size: 24px;
    
}
.contentBox{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap: 15px;
    margin-top: 60px;
    
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    /* padding:  4px 37px;  */
}
.email{
    
    padding: 15px 350px 15px 24px;
    font-size: 17px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5) ;
    color: white;
}
.btn-btn-red{
    background-color: red;
    color: white;
    padding: 14px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    font-weight: 550 ;
    cursor: pointer;
}
footer{
    color: white;
    max-width: 90vw;
    margin: auto;
}


footer .questions{
   padding: 34px 0;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    padding: 14px;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
    
}
.footer-item a{
    color: white;
    font-size: 14px;
}
a{
    color: white;
}
@media screen and (max-width: 1300px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
    .footer-item{
        align-items: center;
    }
}
@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .secImg img{
        width: 320px;
    }
    .secImg video{
        width: 320px;
    }

    .hero> :first-child{
        font-size: 32px;
    }
    .hero > :nth-child(2){
        font-size: 18px;
    }
    .hero > :nth-child(3){
        font-size: 18px;
    }
    .hero-buttons{
        flex-direction: column;
    }
}
@media screen and (max-width: 1300px) {
    .content{
        flex-direction: column;
    }
    .email{
        padding: 13px 99px 13px 15px ;
    }
    .btn-btn-red{
        
        padding: 12px 20px;
    }
    .contentBox{
        text-align: center;
    }
}
.copyRight{
    font-size: 14px;
    
}
.copyRight p{
    display: block;
    margin-top:42px;
    margin-bottom: 50px;
}
.btns{
    padding:  4px 35px;
    text-align: center;
    font-size: 14px;
    background-color: rgba(248, 243, 243, 0.021);
    font-weight: 600;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    margin-top: 70px;
}